<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Spring Boot 2</title>
    </head>
    <body>
        <div th:replace="~{/layout/fragments :: pageHeader('직원 상세 페이지')}"></div>
        
        <main>
            <table>
                <tbody th:object="${employee}">
                    <tr>
                        <th>사번</th>
                        <td th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td th:text="*{ename}"></td>
                    </tr>
                    <tr>
                        <th>직무</th>
                        <td th:text="*{job}"></td>
                    </tr>
                    <tr>
                        <th>매니저</th>
                        <td>
                            <th:block th:if="*{manager != null}">
                                <a th:href="@{/employee/details/{id}(id=*{manager.id})}"
                                    th:text="*{manager.ename}"></a>
                            </th:block>
                            <th:block th:if="*{manager == null}">
                                ---
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>입사날짜</th>
                        <td th:text="*{hiredate}"></td>
                    </tr>
                    <tr>
                        <th>급여</th>
                        <td th:text="*{salary}"></td>
                    </tr>
                    <tr>
                        <th>수당</th>
                        <td th:text="*{commission}"></td>
                    </tr>
                    <tr>
                        <th>부서</th>
                        <td>
                            <a th:href="@{/department/details/{id}(id=*{department.id})}"
                                th:text="*{department.dname}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>